<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<p th:text="${person.getId()}">VALUE</p>
<p th:text="${person.getName()}">VALUE</p>
<p th:text="${person.getAge()}">VALUE</p>

<span th:if="${booksOfPerson.isEmpty()}" th:text="'Человек пока не взял ни одной книги'"></span>
<span th:else th:each="book: ${booksOfPerson}">
    <a th:text="${book.getBookName() + ', ' + book.getAuthor() +', ' + book.getYear()}"
       th:style="${!book.isOverTime()} ? 'color: red;' : 'color: black;'">user</a>>
</span>
<br>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>